* {
    margin: 0;
    padding: 0;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.content {
    width: 1226px;
    margin: 0 auto;
}